In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
import nltk

In [3]:
#nltk.download_shell() #Download the necessary datasets

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------

### read csv files

In [29]:
data = pd.read_csv("./data/csv_files/Products.csv", lineterminator='\n')
data.head()

,Unnamed: 0,id,product_name,category,product_description,price,location,url,page_id,create_time
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1426704584,2022-02-26
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1426704579,2022-02-26
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1426704576,2022-02-26
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1426704575,2022-02-26
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,£450.00,"Delph, Manchester",https://www.gumtree.com/p/sofas/modern-shannon...,1426704570,2022-02-26

In [30]:
from nltk.corpus import stopwords
import string
from nltk.stem.porter import PorterStemmer



porter = PorterStemmer()
def tokinize_stemmer(words):
    """
    Take a string of text and tranform to root word
    """
    return [porter.stem(word) for word in words.split()]



def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in tokinize_stemmer(nopunc) if word.lower() not in stopwords.words('english')]

In [ ]:
data[['A','B']] = df[['A','B']].apply(add_3)

In [20]:
impt_features = data[['product_name', 'category', 'product_description']]

In [18]:
print(data.columns)

Index(['Unnamed: 0', 'id', 'product_name', 'category', 'product_description',
       'price', 'location', 'url', 'page_id', 'create_time'],
      dtype='object')

In [32]:
test = data['product_name'].apply(text_process)

In [33]:
test

0        [mirror, wall, art, wokingham, berkshir, gumtre]
1       [stainless, steel, food, steamer, inver, highl...
2               [sun, lounger, skeg, lincolnshir, gumtre]
3       [coffe, side, tabl, ammunit, ammo, box, hairpi...
4       [modern, shannon, sofa, sale, low, cost, delph...
                              ...
7151    [soni, playstat, vr, move, bundl, acock, green...
7152    [playstat, vr, v2, bundl, acock, green, west, ...
7153      [oculu, quest, 2, 256gb, montros, angu, gumtre]
7154    [logitech, drive, forc, shifter, carrickfergu,...
7155    [20, game, nintendo, switch, bundl, pool, dors...
Name: product_name, Length: 7156, dtype: object

In [5]:
bow_tranformer = CountVectorizer(analyzer=text_process).fit(data['product_name'])

In [6]:
print(len(bow_tranformer.vocabulary_))

10005

In [11]:
messages_bow = bow_tranformer.transform(data['product_name'])

In [12]:
print('Shape of Sparse Matrix: ', messages_bow.shape)
print('Amount of Non-Zero occurences: ', messages_bow.nnz)

Shape of Sparse Matrix:  (7156, 10005)
Amount of Non-Zero occurences:  62355

In [15]:
sparsity = (100.0 * messages_bow.nnz / (messages_bow.shape[0] * messages_bow.shape[1]))
print('sparsity: {}'.format(sparsity))

sparsity: 0.08709312196892051

In [16]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer().fit(messages_bow)
#tfidf4 = tfidf_transformer.transform(bow4)
#print(tfidf4)

In [17]:
messages_tfidf = tfidf_transformer.transform(messages_bow)
print(messages_tfidf.shape)

(7156, 10005)

##### It important to convert category columns to nemericl before using it to train a model. the columns to convert to numerical value inlcude
##### Product name, Product description, and location.

In [21]:
count = CountVectorizer()

In [17]:
image_df = pd.read_csv("data/csv_files/Images.csv")

In [18]:
image_df.head()

,Unnamed: 0,id,product_id,bucket_link,image_ref,create_time
0,0,912bb259-3ad9-457b-9db1-ce1da9016057,5f5f57d7-778f-4336-bb10-b43863418c8c,https://aicore-projects-datasets-prod.s3.eu-we...,koQAAOSwhZRiE5dD,2022-02-26
1,1,b166d305-b852-4bdd-83f4-465b20da94fa,5f5f57d7-778f-4336-bb10-b43863418c8c,https://aicore-projects-datasets-prod.s3.eu-we...,9vgAAOSw8sRiE5dE,2022-02-26
2,2,68f5a29d-0075-4d60-81c1-ab684a82e50c,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,https://aicore-projects-datasets-prod.s3.eu-we...,FlwAAOSwCkpiFNlV,2022-02-26
3,3,f6a309d7-d247-446a-9b5e-aceefdd4334d,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,https://aicore-projects-datasets-prod.s3.eu-we...,4gIAAOSw4ORiFNlZ,2022-02-26
4,4,2c2b3a6f-15b3-4289-937a-15482d9f5781,8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf,https://aicore-projects-datasets-prod.s3.eu-we...,sHoAAOSwQoRiD7vf,2022-02-26